<li class="news-item">
  <a href="#" class="stretched-link"></a>
  <div class="news-item-picture">
    <picture>
      <source srcset="./img/news/image-1.webp" type="image/webp">
      <img loading="lazy" src="./img/news/image-1.jpg" width="448" height="448" alt="Картинка">
    </picture>
  </div>
  <div class="news-item-body">
    <div class="news-item-header">
      <h3>
        AddWeek
      </h3>

      <span class="icon">
        <svg>
          <use xlink:href="img/icons/arrow-up-right.svg#svg-arrow-up-right"></use>
        </svg>
      </span>
    </div>
    <div class="news-item-main">
      <p>
        The stars in new identity for The Archer School for Girls
      </p>
    </div>
  </div>
</li>
