<li class="portfolio-item">
  <a href="#" class="stretched-link"></a>
  <div class="portfolio-item-header">
    <h3 class="portfolio-item-title">
      UXer—Clean, Grid, Minimal
    </h3>
    <p class="portfolio-item-subtitle">
      Brand identity, Website
    </p>
  </div>
  <div class="portfolio-item-body">
    <div class="portfolio-item-picture">
      <picture>
        <source srcset="./img/portfolio/image-1.webp" type="image/webp">
        <img loading="lazy" src="./img/portfolio/image-1.jpg" width="313" height="265" alt="Картинка">
      </picture>
    </div>
  </div>
</li>
