@use "mixins" as mixins;

.contacts {

  &:not(:first-child) {
    margin-top: calc(9rem + 25vh);

    @include mixins.breakpoint-up(md) {
      margin-top: calc(12.75rem + 25vh);
    }

    @include mixins.breakpoint-up(xl) {
      margin-top: calc(19rem + 25vh);
    }
  }

  .contacts-end,
  > .container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 2.5rem 1rem;

    @include mixins.breakpoint-up(md) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &-opening,
  &-address {

    p {
      margin: 0;
    }
  }

  &-address {
    font-style: normal;
  }

  &-socials {
    display: flex;
    gap: 1rem;

    &-title {
      display: none;

      @include mixins.breakpoint-up(xl) {
        display: block;
        font-size: inherit;
        line-height: inherit;
      }
    }

    &-list {

      @include mixins.breakpoint-up(md) {
        margin-left: auto;
      }
    }
  }
}
