@use "mixins" as mixins;

.imprint {

  &-header,
  &-item {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;

    @include mixins.breakpoint-up(md) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &-header {
    padding-bottom: 2rem;

    @include mixins.breakpoint-up(md) {
      align-items: end;
    }

    .imprint-start {
      order: 1;

      @include mixins.breakpoint-up(md) {
        text-align: end;
      }

      @include mixins.breakpoint-up(xl) {
        order: initial;
        text-align: start;
      }
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
  }

  &-start {
    h2 {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &-end {

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      &:not(:first-child) {
        margin-top: 1.25rem;
      }

      &:not(:last-child) {
        margin-bottom: 1.25rem;
      }

      li {
        display: flex;

        &::before {
          content: '•';
          flex-shrink: 0;
          display: inline-block;
          width: 2.25ch;
          padding-inline-end: 0.75ch;
        }
      }
    }
  }
}
