<section class="section contacts">
  <div class="container">
    <div class="contacts-start">
      <div class="contacts-opening">
        <p>Opening hours</p>
        <p>Mo – Fr: 10:00 – 18:00</p>
      </div>
    </div>
    <div class="contacts-end">
      <address class="contacts-address">
        <p>Bernauer Str. 32</p>
        <p>10115 Berlin</p>
      </address>

      <div class="contacts-socials">
        <h3 class="contacts-socials-title">
          Socials
        </h3>

        <ul class="list-reset contacts-socials-list">
          <li>
            <a href="#" target="_blank" rel="noopener" class="btn">
              Instagram
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener" class="btn">
              Twitter
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener" class="btn">
              LinkedIn
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
