<header class="header">
  <div class="container">
    <div class="header-main">
      <div class="brand">
        <a href="./index.html" class="btn">
          Aiko Ocean®
        </a>
      </div>

      <button type="button" class="btn btn-menu">
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="header-nav">
      <div class="header-nav-body">
        <div class="scrollable-y">
          <div class="header-nav-content">
            <p>
              Independent Designer, Director
            </p>

            <ul class="list-reset header-nav-list">
              <li>
                <a href="./index.html" class="btn">
                  Work
                </a>
              </li>
              <li>
                <a href="./news.html" class="btn">
                  News
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
